.planet-menu {

    
    color: hsla(var(--light-grey-clr));
    font-family: var(--ff-main);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 25px;
    font-size: 0.8rem;
    letter-spacing: 2.6px;
    border-bottom: 1px solid hsla(var(--light-grey-clr), 0.3);
    

    ul {
        display: flex;
        justify-content: space-between;
        margin: 1rem 2rem;
    }
}