.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsla(var(--light-grey-clr), 0.3);
    margin: 2rem 0;
    padding-bottom: 2rem;
    h1 {
        color: hsl(var(--white-clr));
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: var(--ff-second);
        margin-left: 2rem;
        
       
    }
    img {
        height: 1.5rem;
        margin-right: 2rem;
    }

    .header-nav {
        position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: hsl(var(--clr-black));
  color: white;
  
    }
}

@media (min-width:600px) {
    .mobile {
      display: none;
    }
}
