.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsla(var(--light-grey-clr), 0.3);
    margin-top: 2rem;
    padding-bottom: 2rem;
    position: relative;

    .header-title {
        color: hsl(var(--white-clr));
        font-size: 1.75rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: var(--ff-second);
        margin-left: 2rem;
    }

    .header-burger-icon {
        margin-right: 2rem;
    }

    .header-nav {
        width: 90%;

        .header-menu {
            margin: 4rem 0 2rem;
            .header-list-planet {
                color: white;
                letter-spacing: 2.6px;
                font-weight: bold;
                font-family: var(--ff-main);
                text-transform: uppercase;
                color: hsla(var(--light-grey-clr));
            }
        }
    }

    .overlay-menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: hsl(var(--main-clr));
        font-family: var(--ff-main);
        font-weight: bold;
        text-transform: uppercase;

        .overlay-header-container {
            margin: 2rem 0;
            padding-bottom: 0.4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .overlay-title {
                color: hsl(var(--white-clr));
                font-size: 1.75rem;
                text-transform: uppercase;
                font-weight: 700;
                font-family: var(--ff-second);
                margin-left: 2rem;
            }
            .overlay-burger-icon {
                margin-right: 2rem;
            }
        }

        .overlay-nav {
            color: white;

            .overlay-menu {
                text-decoration: none;

                & > * {
                    padding: 1.5rem;
                    border-bottom: 1px solid hsla(var(--light-grey-clr), 0.3);
                }

                & > *:last-child {
                    border-bottom: none;
                }

                .overlay-list-planet {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    letter-spacing: 2.6px;

                    .overlay-color-list {
                        background-color: hsl(var(--white-clr));
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        flex-shrink: 0;
                        margin-right: 1rem;
                    }

                    .overlay-list-planet-name {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 700px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 700px) {
    .not-mobile {
        display: none;
    }
}

@media (min-width: 1024px) {
    .not-mobile {
        display: none;
    }
}

@media (min-width: 700px) and (max-width: 1024px) {
    .header {
        flex-direction: column;
        padding-bottom: 0;

        .header-menu {
            display: flex;
            justify-content: space-around;
        }
    }
}
