.planet-image {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 5rem 3rem;
    position: relative;

    .planet-image-svg {
        width: 80%;
    }

    .geology-image {
        position: absolute;
        bottom: -15%;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
    }
}
